.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* list-style: none; */
  /* background-color: aqua; */
}
.right ul li {
  padding: 1em 2em;
  font-size: 1.2rem;
}

.right ul {
  list-style-type: none;
  display: flex;
}
.right ul li a {
  text-decoration: none;
  color: black;
}
.right ul li:hover {
  color: #fff;
  background-color: #eea539;
  cursor: pointer;
}

header {
  background-color: #cfe7e5;
  color: #000;
  padding: 20px;
  text-align: center;
}

.hotels {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  background-color: #cfe7e5;
  color: #000;
  padding: 4em 0;
}

.footer p {
  font-size: 1.8rem;
  font-weight: bold;
}

.footer__container {
  display: flex;
}
.footer__logo,
.footer__links,
.partners {
  flex: 1;
}
.footer__logo p {
  margin: 1.5em 0;
}
.footer__logo {
  margin-bottom: 1em;
}
.footer__icons {
  display: flex;
  gap: 1em;
  /* background-color:#000; */
}
.icon {
  background-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.footer__links ul {
  list-style: none;
}
.footer__links ul li {
  margin-top: 1em;
  font-size: 1.5rem;
}
.footer__links ul li a {
  color: #000;
  text-decoration: none;
}

/* For screens smaller than 414px
@media only screen and (max-width: 414px) {
  .right {
    display:flex
      flex-direction: column;
      align-items: flex-start;
  }
  .right ul {
      flex-direction: column;
  }
  .right ul li {
      padding: 1em;
  }
  header {
      padding: 10px;
  }
  .hotels {
      flex-wrap: wrap;
  }
  .hotel__card {
      width: 100%;
      margin-bottom: 20px;
  }
}

/* For screens larger than 414px */
/* @media only screen and (min-width: 414px) {
  .right {
      justify-content: space-between;
      display: flex;
  }
  .right ul {
      flex-direction: row;
  }
  .right ul li {
      padding: 1em 2em;
  }
  .footer__container {
      flex-wrap: wrap;
  }
  .footer__logo,
  .footer__links,
  .partners {
      flex: 1 1 100%;
  }
  .footer__logo p {
      margin: 1em 0;
  }
  .footer__links ul li {
      margin-top: 0;
  }
} */
